<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<script type="text/javascript">
    let table_time_obj = undefined;
    let image_time_obj = undefined;
    let timer = undefined;
    let flag = undefined;

    window.onload = () => {
        table_time_obj = document.getElementById("ttimer");
        image_time_obj = document.getElementById("itimer");
        flag = false;
    }

    function double_submit_check() {
        if (flag) {
            console.log("double");
            return true;
        }
        else {
            flag = true;

            return false;
        }
    }

    function send_list_req(){
        if (double_submit_check()){
            return ;
        }

        const youtuber = document.getElementById("yname").value;

        if (youtuber == ''){
            alert("Please fill youtuber name");
            return;
        }

        const formData = new FormData();
        const url = "/word-cloud/find_youtuber";
        let start = 0;

        formData.append('youtuber', youtuber);

        timer = setInterval(() => {
            start += 1;
            table_time_obj.innerText = `${start / 10} 's`;
        }, 100);

        fetch (url, { method:'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.json();
            } else {
                clearInterval(timer);
                alert('request error');
                flag = false;
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            alert(err);
        }).then(data => {
            const table = document.getElementById('ytable');

            for(let i=0; i <= table.rows.length; i++)
                table.deleteRow(-1);

            let idx = 0;

            for (key in data){
                const new_row = table.insertRow();
                const name = new_row.insertCell(0);
                const channel_url = new_row.insertCell(1);
                const btn = new_row.insertCell(2);

                name.style.width = '100pt';
                channel_url.style.width = '225pt';
                btn.style.width = '50pt';

                name.innerHTML = `<a href=https://www.youtube.com${data[key][1]} target="_blank">${data[key][0]}</a>`;
                channel_url.innerText = data[key][1];
                btn.innerHTML = `<button class="btn btn-primary btn=lg" id="idx${idx}" onclick="send_table_req(${idx});">Make!</button>`;

                idx++;
            }
            clearInterval(timer);
            table_time_obj.innerText = 'Done!';
            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            alert(err);
        });
    }

    function get_img(channel){
        const url = "/word-cloud/make_wordcloud";
        const formData = new FormData();
        let start = 0;

        formData.append('youtube_url', channel);

        timer = setInterval(() => {
            start += 1;
            image_time_obj.innerText = `${start / 10} 's`;
        }, 100);

        fetch (url, { method:'POST', body: formData, })
        .then(response => {
            if (response.status === 200) {
                return response.blob();
            } else {
                clearInterval(timer);
                flag = false;
                alert('URL error try again');
            }
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            alert(err);
        }).then(blob => {
             return URL.createObjectURL(blob);
        }).then(imageURL =>{
            document.getElementById('sample').style.display = 'none';
            document.getElementById('result_image').style.display = "block";
            document.getElementById('result_image').src = imageURL;
            document.getElementById('irt').innerText = 'Result image';
            clearInterval(timer);
            image_time_obj.innerText = 'Done!';
            flag = false;
        }).catch(err => {
            clearInterval(timer);
            flag = false;
            alert('Image error try again');
        });
    }

    function send_img_req(){
        if (double_submit_check()){
            return ;
        }

        const channel = document.getElementById("uname").value;

        if (channel == ''){
            alert("Please fill youtuber url");
            return;
        }

        get_img(channel);
    }

    function send_table_req(idx){
        if (double_submit_check()){
            return ;
        }

        const channel = document.getElementById('ytable').getElementsByTagName('td')[idx * 3 + 1].innerText;

        get_img(channel);
    }

</script>
<body>
    <div class="container">
        <div class="jumbotron mt-3">
            <from method="POST" id="dataReq">
                <br>
                <!-- Project title -->
                <h1>Make word cloud</h1><br>
                <a>Crawling and make word-cloud image, using selenium module and wordcloud module.</a><br><br>
                <a>Git hub repository : </a> <a href="https://github.com/fpem123/word-cloud">Word cloud</a><br>
                <a>Open API : </a> <a href="https://ainize.ai/fpem123/word-cloud?branch=master">On Ainize</a><br><br>

                <style>
                    #submit{
                        border-top-left-radius: 5pt;
                        border-top-right-radius: 5pt;
                        border-bottom-left-radius: 5pt;
                        border-bottom-right-radius: 5pt;
                    }
                </style>

                <h3>Notice</h3>
                <ul>
                    <li>Crawling takes some time.</li>
                </ul>

                <hr>

                <div class="desc">
                    <h3>Find youtuber</h3>
                    <label>Find youtuber channel. Try it!</label><br><br>
                </div>

                <div class="inputText">
                    <label>youtuber: </label>
                    <input type="text" id="yname" name="youtuber" size="25">
                    <button class="btn btn-primary btn=lg" type="submit" id="button1" onclick="send_list_req();">Find!</button>
                </div>
            </from>

            <br>

            <div id="tresult">
                <p><b>Result table</b></p>
                <strong id="ttimer">Table will set here.</strong>
                <div id="result_table">
                    <table id="ytable">
                    </table>
                </div>
            </div>

            <hr>

            <from method="POST" id="imgReq">
                <div class="desc">
                    <h3>Make word cloud</h3>
                    <label>You can make a word cloud by pressing 'Make!' button in table<br>
                        or using part of url!</label><br>
                    <img src="../static/url_exam.png" width="500"><br><br>
                </div>

                <div class="inputText">
                    <label>youtuber url: </label>
                    <input type="text" id="uname" name="youtuber" placeholder="exam: /channel/UCnyBeZ5iEdlKrAcfNbZ-wog" size="50">
                    <button class="btn btn-primary btn=lg" type="submit" id="button2" onclick="send_img_req();">Make!</button>
                </div>
            </from>

            <br>

            <div id="iresult">
                <p><b id="irt">Sample image</b></p>
                <strong id="itimer"></strong>
                <img id="result_image" src="" alt="">
            </div>

            <div id="sample">
                <img src="../static/wordcloud_sample.jpeg">
            </div>

            <br><br>
        </div>
    </div>
</body>
</html>